**/.idea/*
**/target/*
~*
*.iml
**/*.hprof
**/*.png
**/AWS

completable-future-live-coding/*
quasar-archetype/*
vertx-examples
vertx-examples/*
*/comparaison-latences.txt
*/comparaison-scalabilite.txt